@model IEnumerable<SeguroCelular.Mvc.Models.CotacaoSeguro>

@{
    ViewData["Title"] = "Index";
}

<h1>Minhas Cotações</h1>


<p>
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModeloCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCotacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (User.GetUserEmail() == item.User.Email)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModeloCelular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Planos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorCotacao)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
