@model IEnumerable<SeguroCelular.Mvc.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Avaliações</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
